# Dependencies
**/node_modules/

# Environment variables
**/.env

# Build outputs
**/dist/
**/coverage/

# Angular
frontend/.angular/

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db