<mat-toolbar class="navbar">

    <div class="logo" routerLink="/dashboard">

        <mat-icon>directions_car</mat-icon>

        <span>CommuteConnect</span>

    </div>

    <div class="menu">

        <a
            routerLink="/dashboard"
            routerLinkActive="active">
            Dashboard
        </a>

        <a
            routerLink="/posts"
            routerLinkActive="active">
            Posts
        </a>
        

        <a
            routerLink="/my-posts"
            routerLinkActive="active">
            My Rides
        </a>

        <a
            routerLink="/interests"
            routerLinkActive="active">
            Interests
        </a>

        <a
            routerLink="/profile"
            routerLinkActive="active">
            Profile
        </a>
       <a
    routerLink="/create-post"
    routerLinkActive="active">

    Create Ride

</a>
    </div>

    <button
        mat-flat-button
        color="primary"
        class="logout-btn"
        (click)="logout()">

        Logout

    </button>

</mat-toolbar>